/* src/components/Footer.css */

/* Default (light mode) styles */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

/* Dark mode styles */
body.dark .footer {
  background-color: #1E293B !important;
  color: #fff !important;
}
