<script>
    function getInitialColorMode() {
      const selectedColorPreference = window.localStorage.getItem("color-mode");
      const hasSelectedColorPreference = typeof selectedColorPreference === "string";
  
      if (hasSelectedColorPreference) {
        return selectedColorPreference;
      }
  
      const mql = window.matchMedia("(prefers-color-scheme: dark)");
      const hasMediaQueryPreference = typeof mql.matches === "boolean";
  
      if (hasMediaQueryPreference) {
        return mql.matches ? "dark" : "light";
      }
  
      return "light";
    }
  
    function toggleColorMode() {
      const currentMode = document.documentElement.classList.contains("dark") ? "dark" : "light";
      const newMode = currentMode === "dark" ? "light" : "dark";
      document.documentElement.classList.remove(currentMode);
      document.documentElement.classList.add(newMode);
      document.documentElement.style.setProperty("color-scheme", newMode);
      window.localStorage.setItem("color-mode", newMode);
    }
  
    const initialColorMode = getInitialColorMode();
    document.documentElement.classList.add(initialColorMode);
    document.documentElement.style.setProperty("color-scheme", initialColorMode);
  
    document.querySelector('[data-action="click->mode-switch#toggle"]').addEventListener('click', () => {
      toggleColorMode();
    });
  </script>
  